<div style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;'>
  <span style='font-size: 40px;'>ðŸš€</span>
  <span style='font-weight: normal; font-size: 32px; color: #3AB77A;'>Desafio Creditas -</span>
  <span style='font-weight: bold; font-size: 32px; color: #3AB77A;'> Cientista de Dados Pleno</span>
</div>
<div style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;'>
  <span style='font-weight: normal; font-size: 19px; color: #F;'>Etapa 1: Analise da problemÃ¡tica</span>
</div>

<br><br>

<div style='color: #3AB77A; text-align: center; font-size: 28px; font-weight: bold'>
  <p>
    ConteÃºdo desse Notebook
  </p>
</div>
<div style='text-align: center; font-size: 20px;'>
  <span style='font-size: 20px;'>âœ…</span>
  <span>AlteraÃ§Ã£o da tipagem de dados</p>
</div>
<div style='text-align: center; font-size: 20px;'>
  <span style='font-size: 20px;'>âœ…</span>
  <span>Drop duplicatas</p>
</div>
<div style='text-align: center; font-size: 20px;'>
  <span style='font-size: 20px;'>âœ…</span>
  <span>Drop de features especÃ­ficas</p>
</div>

![problem](../images/problem.PNG)

In [ ]:
import pandas as pd
import numpy as np
import sys, os

sys.path.insert(0, os.path.abspath(".."))

pd.set_option('display.max_columns', 500)
from utils.eda_utils import (
    definition
)

import warnings
warnings.filterwarnings("ignore")

df = pd.read_csv('../data/dataset.csv')

In [3]:
df_analisar = df.groupby('id').agg(
    count_duplicates=('id','count')
).reset_index()

display(df_analisar[df_analisar['count_duplicates'] > 1])

# Dropando casos duplicados
df = df.drop_duplicates(keep='first')

          id  count_duplicates
3011  116424                 2
3703  119061                 2
3723  119099                 2
3782  119186                 2

<br><br>

<div style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;'>
  <span style='font-size: 30px;'>ðŸ“Š</span>
  <span style='font-weight: bold; font-size: 32px; color: #3AB77A;'>Dropando duplicatas e analisando casos redundantes</span>
</div>

<br>

In [4]:
df.isna().mean()[df.isna().mean() > 0]

age                     0.000057
monthly_income          0.000057
collateral_value        0.000600
loan_amount             0.000086
city                    0.000657
state                   0.000114
collateral_debt         0.296142
verified_restriction    0.248165
marital_status          0.988149
informed_restriction    0.047120
loan_term               1.000000
monthly_payment         0.036611
informed_purpose        0.031899
auto_brand              0.000257
auto_model              0.000314
auto_year               0.000114
pre_approved            0.004940
form_completed          0.004998
sent_to_analysis        0.004940
channel                 0.036754
landing_page            0.036754
landing_page_product    0.345261
gender                  0.112631
utm_term                0.680013
education_level         0.431962
dtype: float64

In [5]:
# Eliminando features com alta frequÃªncia de nulos

df.drop([
    'loan_term',
    'marital_status'
],axis=1, inplace=True)

In [6]:
# Vamos eliminar os casos de sent_to_analysis como null para mantermos apenas quem devemos predizer

df.isna().sum()[df.isna().sum() > 0]

age                         2
monthly_income              2
collateral_value           21
loan_amount                 3
city                       23
state                       4
collateral_debt         10370
verified_restriction     8690
informed_restriction     1650
monthly_payment          1282
informed_purpose         1117
auto_brand                  9
auto_model                 11
auto_year                   4
pre_approved              173
form_completed            175
sent_to_analysis          173
channel                  1287
landing_page             1287
landing_page_product    12090
gender                   3944
utm_term                23812
education_level         15126
dtype: int64

In [7]:
df = df[~df['sent_to_analysis'].isna()] ; df.isna().sum()

id                          0
age                         2
monthly_income              2
collateral_value           21
loan_amount                 3
city                       23
state                       4
collateral_debt         10307
verified_restriction     8671
dishonored_checks           0
expired_debts               0
banking_debts               0
commercial_debts            0
protests                    0
informed_restriction     1645
monthly_payment          1279
informed_purpose         1108
auto_brand                  9
auto_model                 11
auto_year                   4
pre_approved                0
form_completed              2
sent_to_analysis            0
channel                  1114
zip_code                    0
landing_page             1114
landing_page_product    11917
gender                   3771
utm_term                23639
education_level         14953
dtype: int64

In [8]:
df = df[
    (~df['collateral_value'].isna()) &
    (~df['auto_model'].isna()) &
    (~df['city'].isna())
]

df['verified_restriction'] = df['verified_restriction'].fillna(-1); df.isna().sum()

id                          0
age                         0
monthly_income              0
collateral_value            0
loan_amount                 0
city                        0
state                       0
collateral_debt         10302
verified_restriction        0
dishonored_checks           0
expired_debts               0
banking_debts               0
commercial_debts            0
protests                    0
informed_restriction     1598
monthly_payment          1236
informed_purpose         1097
auto_brand                  0
auto_model                  0
auto_year                   0
pre_approved                0
form_completed              0
sent_to_analysis            0
channel                  1110
zip_code                    0
landing_page             1110
landing_page_product    11877
gender                   3724
utm_term                23592
education_level         14926
dtype: int64

<br><br>

<div style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;'>
  <span style='font-size: 30px;'>ðŸ“Š</span>
  <span style='font-weight: bold; font-size: 32px; color: #3AB77A;'>Salvando o dataset bronze</span>
</div>

<br>

In [9]:
df.to_csv('../data/bronze_dataset.csv')